$white: #FFFFFF;
$red: #FD1015;
$blue: #494e91;
$dark-blue: #1f2142;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #49A04E;
$grey: #D3D3D3;
$light-gray: #F4F4F4;
$alabaster: #E2F3E5;
$light-green: #D8F0D5;
$pink: #BE4A66;
$light-pink: #EBC8D1;
$light-blue: #e2eff3;

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.opacity_7 {
  opacity: 0.7;
}
