$white: #FFFFFF;
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #49A04E;
$grey: #D3D3D3;
$light-gray: #F4F4F4;
$alabaster: #E2F3E5;
$light-green: #D8F0D5;
$pink: #BE4A66;
$light-pink: #EBC8D1;
