body {
  font-family: 'Quicksand', 'sans-serif';
}

h1, h2, h3, h4, h5 {
  font-family:'Oregano', 'sans-serif';
}

.mid-size {
  font-size: 1.5rem;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}
