
  <div class="container">
    <h2><%= @recipe.name %></h2>
    <div>
      <%= simple_form_for([@recipe, @comment]) do |f| %>
        <%= f.input :content, label: t('.my_note') %>
        <%= f.submit t('.save'), class: "btn btn-info" %>
      <% end %>
    </div>
  </div>

 