@import "show";
@import "list";
@import "profile";
@import "home";
@import "about";
@import "new_recipe";



.container {
  width: 90%;
  margin: auto;
}

@media(max-width: 414px) {
  .container {
    width: 95%;
  }
}

