.index-top {
  width: 100%;
  background-image: linear-gradient(to right, rgba(255,255,255,0.9),rgba(126, 194, 112, 0.35)), asset-data-url('index-banner2.jpg');
  background-position: center;
  padding: 1rem;
}

.index-title {
  padding-bottom: 1rem;
  margin-left: 10px;
}

.index-grid {
  display: -ms-grid;
  display: grid;
  // -ms-grid-columns: (1fr)[4];
  // grid-template-columns: repeat(4, 1fr);
  min-width: 0;
  min-height: 0;
  justify-items: center;
}

@media(min-width: 2560px) {
  .index-grid {
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
  }
}

@media (min-device-width: 1201px) and (max-device-width: 2559px) {
  .index-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 1200px) {
  .index-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 768px) {
  .index-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 414px) {
  .index-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

}

@supports (display:grid) {
  .index-grid {
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    min-width: 0;
    min-height: 0;
  }

  @media(min-width: 2560px) {
    .index-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media (min-device-width: 1201px) and (max-device-width: 2559px) {
  .index-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

    @media(max-width: 1200px) {
    .index-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media(max-width: 768px) {
    .index-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(max-width: 414px) {

    .index-grid {
      grid-template-columns: 1fr;
    }

    .empty-index {
    width: 60%;
    }
  }

}
