.profile-container {
  width: 90%;
  margin: auto;
}

.profile-cards {
  display: grid;
}

.profile-review {

  h5 {
    color: $green;
  }

  a {
    color: black;
  }

  .review-icons a {
    color: $blue;
  }


}

  .modal {
    margin-top: 30%;
  }


