.show-container {
  display: flex;
  justify-content: space-between;
}

.show-left {
  width: 50%;
  margin-bottom: 3vh;
}

.show-right {
  width: 50%;
  margin-bottom: 3vh;
}

.recipe-title {
  padding-left: 1rem;
}

.banner-show {
 height: 50vh;
 margin-bottom: 20px;
 overflow: hidden;
 width: 100%
 // box-shadow: none !important;
}

.banner-photo {
  background-color: white;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}

.show-default {
  width: 100%;
  opacity: 0.5;
}

.show-icons {
  padding-left: 1rem;
}

.show-stars {
  padding-left: 1rem;
}

.recipe-description {
  min-height: 10vh;
  background-color: $light-green;
  width: 100%;
  padding: 1rem;
}

.show-numbers {
  display: flex;
  justify-content: space-evenly;
  background-color: $light-green;
  margin-bottom: 1rem;
}

.space-right {
  padding-right: 1rem;
}

.show-doses {
  padding: 0 1rem;
  li {
    list-style-type: none;
  }
}

.show-dose-line {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-between;
  border-bottom: 1px solid $grey;
  padding-top: 8px;

  .dose-unit {
    display: flex;
  }

  .last-element {
    align-self: flex-end;
  }

  .dose-amount {
    padding-right: 1rem;
  }
}

.show-dose-line:last-child {
  border-bottom: none;
}

.inline {
  display: flex;
}



.recipe-instruction {
  min-height: 10vh;
  background-color: $light-green;
  width: 100%;
  padding: 1rem;
}

.show-categories {
  padding-left: 1rem;
  margin-top: 1vh;
  margin-bottom: 2vh;

  ul {
    margin: auto;
  }
}

.show-cat {
  padding: 0 1rem;
  border-right: 1px solid $grey;
  list-style-type: none;
  display: inline;
}

.show-cat:last-child {
  border-right: none;
}

.show-buttons {
  display: flex;
  justify-content: space-around;
}

.note-box {
  background-color: $light-green;
  height: 32vh;
  margin: 0 0 3vh 3vh;
  padding: 1rem;
}

.calculator {
  background-color: $light-green;
  // height: 15vh;
  margin-left: 3vh;
  margin-bottom: 2vh;
  padding: 1rem;
}

.ration-form {
  display: flex;
}

#rations {
  width: 3rem;
  height: 2rem;
}

.show-reviews {
  background-color: $light-green;
  // height: 12vh;
  margin-left: 3vh;
  margin-top: 1vh;
  padding: 1rem;
}

.reviewer {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.show-tips {
  margin-left: 3vh;
  margin-top: 1vh;
}

.tip-grid {
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

@media(max-width: 768px) {

  .show-container {
    flex-direction: column;
  }

  .show-left {
    width: 100%;
  }

  .show-right {
    width: 100%;
  }

  .show-dose-line {
    width: 80%;
  }

  .show-categories ul {
    padding-inline-start: 0;
    width: 80%;
  }

  .note-box {
    margin: 0.5rem;
  }

  .calculator {
    margin: 0.5rem;
    height: 20vh;
  }

  .show-reviews {
    margin: 0.5rem;
    height: fit-content;
  }

  .tip-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr);
    grid-template-columns: (1fr);
  }
}
