.show-container {
  display: flex;
  justify-content: space-between;
}

.show-left {
  width: 50%;
  margin-bottom: 3vh;
}

.show-right {
  width: 50%;
  margin-bottom: 3vh;
}

.recipe-title {
  padding-left: 1rem;
}

.banner-show {
 height: 50vh;
 margin-bottom: 20px;
 overflow: hidden;
 width: 100%
 // box-shadow: none !important;
}

.banner-photo {
  background-color: white;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}

.show-default {
  width: 100%;
  opacity: 0.5;
}

.show-icons {
  padding-left: 1rem;
}

.show-stars {
  padding-left: 1rem;
}

.recipe-description {
  min-height: 10vh;
  background-color: $light-green;
  width: 100%;
  padding: 1rem;
}

.show-numbers {
  display: flex;
  justify-content: space-around;
  background-color: $light-green;
  margin-bottom: 1rem;
}

.space-right {
  padding-right: 1rem;
}

.show-doses {
  padding: 0 1rem;
  li {
    list-style-type: none;
  }
}

.show-dose-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid $grey;

  .last-element {
    align-self: flex-end;
  }
}



.recipe-instruction {
  min-height: 10vh;
  background-color: $light-green;
  width: 100%;
  padding: 1rem;
}

.show-categories {
  padding-left: 1vh;
  margin-top: 1vh;
}

.show-cat {
  padding: 0 1rem;
  border-right: 1px solid $grey;
  list-style-type: none;
  display: inline;
}

.show-cat:last-child {
  border-right: none;
}

.show-buttons {
  display: flex;
  justify-content: space-around;
}

.note-box {
  background-color: $light-green;
  height: 32vh;
  margin: 0 0 3vh 3vh;
  padding: 1rem;
}

.calculator {
  background-color: $light-green;
  height: 15vh;
  margin-left: 3vh;
  margin-bottom: 2vh;
  padding: 1rem;

}

.show-reviews {
  background-color: $light-green;
  // height: 12vh;
  margin-left: 3vh;
  margin-top: 1vh;
  padding: 1rem;
}

.reviewer {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
