<div class="nested-fields">
   <div class="form-input-horizontal">
    <%= f.input :amount, class: "form-unit input-box-small" %>
    <% @units = ['liters', 'dl', 'ml', 'tbsp', 'tsp', 'g', 'kg', 'slices'] %>
    <%= f.input :unit, collection: @units %>
    <%= f.input :ingredient, class: "form-unit" %>
    <%= link_to_remove_association "x", f %>
  </div>
</div>
