<div class="pages">
  <div class="container">
    <div class="recipe-form">
      <div class="form-banner">
          <h1><%= t('.edit_recipe')%></h1>
      </div>

      <%= render 'form' %>

      <br>
    </div>
  </div>
</div>
