<div class="container">
  <h1>Recipes</h1>


    <% @recipes.each do |recipe| %>

        <%= link_to recipe.name, recipe_path(recipe) %>
        <%= cl_image_tag recipe.photo, height: 200, width: 200, crop: :fill %>
        <br>
    <% end %>

  <%= link_to "Add a new recipe", new_recipe_path, class: "btn btn-primary" %>
</div>
