 
 <div class="container">

 <h2>About Recipeper</h2>

 <p>
    Recipeper is a website for storing and sharing recipes. 
    <ul>
    
    <li><link_to new_recipe_path>Add</link> your own favourites and have them available always on all your devices. Other users will be happy to have a recipe for your famous Pad Thai or Tiramisu. </li> 
    <li>Search for recipes added by others.</li> 
    <li>Modify the amounts on the recipes according to the number of portions by a simple click. No more calculation mistakes when you do it on the fly while cooking and accidentally forget to double the amount of the baking powder... With eggs you will have to be a bit creative though :-) </li>
    <li>Add your personal notes on the recipes. Your note will be visible only for you when you are signed in, so it's totally fine to write down, that you plan to serve this for the Millers or that Holly didn't like this dish...</li>
    <li>Write reviews on the recipes to let the other users know if the recipe is any good. You can also add a photo on the review.</li>
    <li>Save your favourite links to other recipe sites on your own cookbook. Add a note so you can remember why you wanted to save the link.</li> 
 </p>

  <div class="about-bottom">
    <p>Thank you for using Recipeper!</p>
    <p>
      <%=  image_tag('hat_small.png', class: "about-logo")%>
    </p>
  </div>

  <div class="copyright">
    <p>Copyright &copy; 2022 Recipeper</p>
    <p>Maria Manninen, Luxembourg</p>
    <p>* * *</p>

    <p>Homepage image: Photo by <a href="https://unsplash.com/@gadgapho?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Gareth Hubbard</a> on <a href="https://unsplash.com/s/photos/cooking?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

    <p>Recipes page image: Photo by <a href="https://unsplash.com/@joannakosinska?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joanna Kosinska</a> on <a href="https://unsplash.com/s/photos/cooking?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>

    <p>Default recipe image: <span>Photo by <a href="https://unsplash.com/@hannahbusing?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hannah Busing</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>

    <p>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
  </div>

</div>