<h1>The Amazing Recipeper Application</h1>

  <%= form_tag recipes_path, method: :get, url: recipes_path do %>
    <%= text_field_tag :query,
      params[:query],
      placeholder: "Find a recipe",
      class: "input-box"
    %>
    <%= submit_tag "Search", class: "btn-home" %>
  <% end %>





default image: <span>Photo by <a href="https://unsplash.com/@hannahbusing?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hannah Busing</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

<div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
