.index-card {
  border-radius: 2px;
  background: transparent;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 10px 10px 30px 10px;
  background-color: $alabaster;
  display: flex;


    img {
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }
}

.img-box-index {
  position: relative;
  height: 200px;
  width: 60%;
}

.index-default {
  width: 200px;
  height: 200px;
  opacity: 0.4;
}

.index-card-content {
  align-items: flex-end;

  h3 {
    font-size: 1.5rem;
    color: green;
    padding: 0.5rem;
  }

  a {
    color: green;
    text-decoration: none;
  }
}

.index-cat {
  display:grid;
}


.profile-card {
  height: 200px;
  border-radius: 2px;
  background: transparent;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 10px 10px 30px 10px;
  background-color: $alabaster;
  display: flex;


  img {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  a {
    text-decoration: none;
  }

  .profile-icons {
    position: absolute;
    width: 4vh;
    height: 4vh;
    top: 15px;
    right: 15px;
    z-index: 5;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
