.recipe_categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  legend {
    display: none;
  }
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-box {
  margin: 5px;
  padding: 3px;
  border-radius: 4px;
  width: 20rem;
}

.input-box-small {
  width: 3rem;
}

.input-box-large {
  width: 95%;
}

.recipe_doses_amount {
  width: 4rem;
}

.recipe_doses_ingredient {
  width: 70%;
}

.form-unit {
  display:flex;
  justify-content: space-around;
  padding-right: 2rem;
}

.ingredient-form-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-input-horizontal {
  display: flex;
  justify-content: space-around;

    .input {
    padding: 5px;
    border-radius: 4px;
  }

}

.recipe_time, .recipe_portions {
  display: flex;
}

.recipe_steps_detail {
  flex-grow: 4;

  label {
    display: none;
  }
}

.remove_fields {
  padding: 5px;
}

.select-box {
  margin: 3px 0;
  border-radius: 4px;
}

// button for adding ingredient
.add_fields, .btn-home {
  display: block;
  width: 20rem;
  text-align: center;
  border: solid 1px green;
  padding: 12px 22px;
  background-color: green;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  margin: 2vh 0;
}

#upload-img {
  display: none;
}

// button for adding a photo
.btn-photo {
  display: block;
  width: 20rem;
  text-align: center;
  border: solid 1px #ac3973;
  padding: 12px 22px;
  background-color: #ac3973;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  margin: 2vh 0;
}
