.recipe-mail {
    max-width: 500px;
    background-color: bisque;
    font-family: 'Khula', 'sans-serif'
}

.recipe-title {
    font-family: 'Oregano', 'sans-serif';
}

.recipe-description {
    font-style: italic;
}