  .navbar-wide {
    max-width: 2640px;
    max-height: 75px;
    margin: auto;
    display: block;
    position: sticky;
    z-index: 999;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1em;
      margin: 0;
    }

    li {
      list-style-type: none;
      padding-top: 0;
      padding-bottom: 0;
      color: $blue;

      a {
        color: $blue;
        text-decoration: none;
      }

      a:hover {
        color: green;
        text-decoration: none;
      }

      .navbar-search {
        position: relative;
      }

      .nav-search-form {
        position: absolute;
        top: 5rem;
        right: 3rem;
      }
    }

    li:hover {
      color: green;
      cursor: pointer;
    }
  }

  .logo {
    font-family: "Oregano", "Garamond";
    color: $blue;
      a:hover {
        color: $green;
        text-decoration: none;
      }
  }

ul.user-action {
  display: flex;
  flex-direction: column;
}

.button-menu {
  border: none;
  background-color: transparent;
  background-image: asset-data-url('hat_lightblue.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  color: $blue;
}

.light-bg {
  // background-color: rgba(255,255,255, 0.7);
  text-align: center;
}


.dropdown-menu {
  display: none;
}

.mobile-nav {
  display: none;
}

// slideout style

@media(max-width: 600px) {

  .layout {
    // box-shadow: inset 0 0 99999px rgba(73,160,78, 0.5);
    filter: opacity(25%);
    background: rgba(146, 179, 163, 0.5);
    overflow: hidden;
    height: 100vh;
    // z-index: 99;
    // position: fixed;
  }

  .navbar-wide {
    display: none;
  }

  .mobile-nav {
  display: block;
  }

  .mobile-top {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }


  .burger {
    text-align:center;
    color: $blue;
  }

  .panel {
    height: 100vh;
    width: 0;
    background-color: rgba(255,255,255,0.93);
    position: relative;
    float: right;
    z-index: 100;
    transition: all 0.5s;
    overflow: hidden;
  }

  .panel.visible {
    display: block;
    width: 80%;
    max-width: 380px;
    overflow:hidden
  }

  .block {
    display: block;
  }

  .slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
  }


  .slide-input {
    margin-left: 0;
    height: 2rem;
  }

  // .slideout-menu-left {
  //   left: 0;
  // }

  // .slideout-menu-right {
  //   right: 0;
  // }

  // #closeSlideOut {
  //   width: 100%;
  //   height: 50px;
  // }

  // .slideout-panel {
  //   position: relative;
  //   z-index: 1;
  //   will-change: transform;
  //   background-color: #FFF;
  //   min-height: 100vh;
  // }

  // .slideout-open,
  // .slideout-open body,
  // .slideout-open .slideout-panel {
  //   overflow: hidden;
  // }

  // .slideout-open .slideout-menu {
  //   display: block;
  // }

  .slide-content {
    white-space: nowrap;
    justify-content: center;


    ul {
      padding-left: 0;
      margin-top: 6vh;
    }

    li {
      padding-top: 2vh;
      text-align: center;
      list-style-type: none;
    }

    a {
      color: #212529;
    }

    img {
      max-width: 50px;
      border-radius: 50%;
      margin-left: 25%;
      margin-bottom: 2rem;
    }
    .navbar-logo {
      width: auto;
      margin-left: 0;
    }

    h3 {
      opacity: .8;
      text-align: center;
    }
    p {
      padding: 12px;
    }

    .btn-search {
      // height: 2rem;
      width: 6rem;
      padding: 6px 10px;
    }
  }
}


.copyright {
  font-size: 12px;
  opacity: 0.6;
  line-height: 90%;
  margin-top: 5vh;

  p {
    margin: 10px 0;
  }
}

.alert-info {
  z-index: 150;
}

